<%= render :template => './_menu.html.erb' %>

<div class="static_page">
	<div class="static_page_menu">
		<h1>PROBLEMY Z ANONIMOWOŚCIĄ</h1>
		<ul>
			<li></li>
			<li><a href="#mowa_nienawisci">mowa nienawiści</a></li>
			<li><a href="#sieci_tor">mroczna strona TOR</a></li>
			<li><a href="#patologie">patologie</a></li>
			<li></li>
		</ul>
	</div>

	<div class="static_page_content">
		<a name="mowa_nienawisci"><h1>mowa nienawiści</h1></a>
<p>W 2011 roku Fundacja Wiedza Lokalna1 opracowała narzędzie, które przeszukuje zasoby Internetu w poszukiwaniu „mowy nienawiści” i „języka wrogości”. Narzędzie analizuje język używany na forach internetowych i klasyfikuje odnalezione tam posty pod kątem nacechowania negatywnymi informacjami. Autorzy badania twierdzą, że „Zbierane informacje są wiarygodne, ponieważ ocena wypowiedzi (stopnia demonstrowanej wrogości) nie jest pochodną subiektywnych odczuć twórców Raportu, ale wynikiem odnoszącym się do skali opracowanej w badaniu grupy 800 osób, odwzorowującej populację internautów w Polsce ze względu na wiek, płeć, wielkość miejsca zamieszkania oraz poziom wykształcenia”.</p>
<%= image_tag 'mowa_nienawisci.png', :id => 'mowa_nienawisci_image' %></br>
screenshot ze strony <a href="http://wiadomosci.gazeta.pl/wiadomosci/1,114883,12005471,Abp_Glodz_splaca_dlugi_Kosciola__Ksieza_zrzucaja_sie.html?v=1&obxx=12005471&order=najnowsze&page=2#opinions">gazeta.pl</a>
<p>Pierwszy pomiar ujawnił ponad 85 tys. przypadków stosowania mowy nienawiści w spontanicznych wypowiedziach Polaków na temat mniejszości etnicznych i kulturowych. W tym przypadku anonimowość jest warunkiem umożliwiającym wyrażenie swojej obraźliwej opinii. Autorzy raportu apelują o zniesienie częściowej anonimowości i umożliwienie wyrażania opinii jedynie tym, którzy podpiszą się pod nią swoim imieniem i nazwiskiem.</p> 
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="sieci_tor"><h1>mroczna strona TOR</h1></a>
	<p>Często o sieci TOR mówi się w kontekście drugiego dna internetu. Dostęp do niej możliwy jest dzięki zainstalowaniu odpowiedniej aplikacji. Sieć TOR łączy się z witrynami w sposób, który uniemożliwia identyfikację adresu IP. Dzieje się to poprzez łączenie się z jedynym z losowo wybranych komputerów (tzw. węzłów), który przekazuje żądanie połączenia do losowo wybranej maszyny. Węzły nie zapamiętują co przesyłają, skąd i gdzie. Trasa łączenia jest zmieniana średnio co dziesięć minut. Tym samym wykrycie nadawcy lub odbiorcy jest niesamowicie trudne, ale nie niemożliwe – wymaga to jednak wyłożenia ogromnych nakładów finansowych.</p> 
<p>Z początku sieć TOR zaprojektowana była dla Marynarki Stanów Zjednoczonych i miała służyć przesyłaniu zaszyfrowanych informacji. Po jej upublicznieniu, stała się ona narzędziem w rękach zarówno bojowników o wolność w represjonowanych państwach, jak i całej rzeszy złoczyńców.</p>
<p>Kiedy sieć TOR zaczęła być używana przez przestępców, została ona jednym z najbardziej popularnych czynników organizujących przestępczy światek. Na zakładanych w jej ramach forach, informacjami wymieniają się terroryści, handlarze organów i dewianci seksualni. Spośród tych ostatnich, największą aktywność wykazują pedofile.</p>
<p>Czując się całkowicie bezpiecznie, pedofile wymieniają się informacjami dotyczącymi sposobów uprowadzania dzieci, wykorzystywania ich i stosowanej wobec nich szkodliwej perswazji. Fora w ramach sieci TOR stają się zasobnikami dziecięcej pornografii.</p>
<p>Zdaniem seksuologa Lwa Starowicza, większość z publikowanych na forach treści jest tylko wymysłem wyobraźni użytkowników. Jednak, jak stwierdza seksuolog, znaleźć tam można również treści publikowane przez prawdziwych pedofilów.</p>
<p>Nawet jeżeli zmyślone, pedofilskie fantazje wyrażane na forum publicznym pozostają niezwykle groźne.</p>
<p>Policjantom pozostaje jedynie monitorowanie sieci TOR. Uchwycenie pedofila jest możliwe, ale wiąże się z koordynacją wielu jednostek policji, również tych spoza kraju.<p>
<p>Jeżeli sieć TOR jest wylęgarnią złoczyńców i przestępców, to dlaczego nie zakazać jej używania? Z przywileju anonimowości korzystają również ciemiężeni działacze polityczni w krajach, w których panuje reżim totalitarny. Sieć TOR jest również narzędziem służącym do sprzeciwiania się niesprawiedliwości w świecie. Jest uznawana za ostoję wolności słowa i poglądów. Użytkownicy tej sieci uważają, że pomimo takich plag jak terroryzm czy pedofilia, ogół dobra, jaki wynika z możliwości korzystania z sieci TOR, przewyższa zło, jakie z niej wypływa.</p>
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="patologie"><h1>patologie</h1></a>
	<p>Anonimowość w pewnym stopniu przyczyniła się do rozwoju patologii w społeczeństwie. Maskując tożsamość, wiele osób wykorzystuje Internet do prowadzenia działalności niezgodnej z literą prawa. Sieć staje się wówczas ogromną platformą pośredniczącą pomiędzy tymi, którzy dopuszczają się różnego rodzaju nielegalnym przedsięwzięciom.</p>
<p>Często spotykaną usługą jest handel organami. Wpisując do wyszukiwarki frazę "sprzedam nerkę", otrzymujemy ogromną ilość odnośników do serwisów internetowych. Pierwszy z nich, będący internetowym forum, zwraca nam ponad 130 aktualnych ogłoszeń. Wśród nich znajdziemy nie tylko chętnych do oddania własnej nerki, ale również tych, którzy zajmują się pośrednictwem w handlu organami.</p>
<%= image_tag 'handel_organami.png', :id => 'handel_organami_image' %></br>
screenshot ze strony <a href="http://forum.wspolczesna.pl/pilne-potrzebuje-pieniedzy-sprzedam-nerke-i-szpik-kostny-t56201/page__st__60">forum.wspolczesna.pl</a>
<p>W tym przypadku anonimowość posłużyła do wyrażenia chęci dokonania transakcji. Osoba zdesperowana, gotowa zapłacić każdą cenę, nieraz wykazuje się większą skutecznością w odnajdowaniu oferującego, niż organy ścigania.</p>
<p>Kolejnym fenomenem, który istnieje nie tylko w polskim Internecie, jest handel cnotą. Młode dziewczęta korzystają z forów internetowych, aby zaoferować dojrzałym mężczyznom odbycie z nimi, za odpowiednią opłatą, stosunku seksualnego. Również i w tej sytuacji Internet pełni rolę pośrednika. Anonimowość pozwala zainteresowanym skontaktować się ze sobą i nabrać pewności, co do własnych intencji.</p>
<%= image_tag 'sprzedam_dziewictwo.png', :id => 'sprzedam_dziewictwo_image' %></br>
screenshot ze strony <a href="http://www.sprzedamdziewictwo.pl/">www.sprzedamdziewictwo.pl</a>
<p>Dosyć powszechną praktyką spotykaną w Internecie jest handel dziećmi. Jakkolwiek poważnie to brzmi, głównie opiera się to na oferowaniu przez kobiety swojego ciała w celu donoszenia ciąży. Surogatki wykorzystują lukę w prawie i w momencie oddawania dziecka powołują się na adopcję ze wskazaniem. Nielegalnym jest sprzedaż zapewnienia o dokonaniu takiej adopcji. Niemniej to na tym opiera się handel dziećmi w Polsce. Szacuje się, że rocznie dochodzi do od 300 do 400 transakcji, której przedmiotem są  jeszcze nienarodzone dzieci.</p>
<%= image_tag 'sprzedam_dziecko.png', :id => 'sprzedam_dziecko_image' %></br>
screenshot ze strony <a href="http://f.kafeteria.pl/temat.php?id_p=4847997">kafeteria.pl</a>

	<a href="#top" class="back">powrót</a>
	</div>

	
</div>
