<%= render :template => './_menu.html.erb' %>
<div class="comments_listing">
<table>
  <tr>
    <th>Imię</th>
    <th>Email</th>
    <th>Treść</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.email %></td>
    <td class="comment_listing_content"><%= comment.content %></td>
    <td><%= link_to 'Edytuj', edit_comment_path(comment) %></td>
    <td class="comment_listing_delete"><%= link_to 'Usuń', comment, confirm: 'Na pewno chcesz usunąć ten komentarz?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>

