<%= render :template => './_menu.html.erb' %>

<div class="main_panel">
	<h1>PANEL DYSKUSYJNY</h1>
		<div class="discussions">


<% @matters.each do |matter| %>
  <div class="issue">
    <h2><%= link_to matter.title, matter %></h2>
    <p><%= matter.description %></p>
		<%= link_to 'Rozwiń wątek', matter, :class=>"extend_issue" %>
		<p>
    	<span class="author"><%= matter.name %></span>
			<span class="date"><%= matter.created_at.strftime('%-d-%-m-%Y') %></span>					
		</p>
		<% if current_admin %>	
    <%= link_to 'edytuj', edit_matter_path(matter) %>
    <%= link_to 'usuń', matter, confirm: 'Are you sure?', method: :delete %>
		<% end %>
  </div>
<% end %>

	</div>

<%= link_to 'STWÓRZ NOWY WĄTEK', new_matter_path, :class=>"button" %>

</div>
