<%= render :template => './_menu.html.erb' %>


<div class="matter_box">
<h1>Tworzenie nowego wątku:</h1>
<%= form_for(@matter) do |f| %>
  

<div class="matter_box_left">
	<div class="field">
    <%= f.label 'imię:' %><br />
    <%= f.text_field :name %>
  </div>

<% if @matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matter.errors.count, "error") %>. Pojawiły się błędy, które nie pozwoliły na zapisanie Twojego wątku.</br> Przepraszam.</br> Jeżeli nie wiesz co się dzieje, skontaktuj się z <%= link_to 'administratorem', o_stronie_path %> strony.</h2>

      <ul>
      <% @matter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
	<%= image_tag 'grupa.png', :id=>"new_matter_icon" %>
	<% end %>
</div>
<div class="matter_box_right">
  <div class="field">
    <%= f.label 'tytuł:' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'problem:' %><br />
    <%= f.text_area :description %>
  </div>  

  <div class="actions">
    <%= f.submit "wyślij", :id=>"matter_button" %>
  </div>
</div>
<% end %>

</div>
