<%= render :template => './_menu.html.erb' %>

<div class="single_issue">
	<span class="return_link"><%= link_to 'powrót do wątków', matters_path %></span>
	<p id="notice"><%= notice %></p>
	<div class="main_matter">
		<div class="little_header">
			<h1><%= @matter.title %></h1>
		</div>
		<p class="description">
	   <%= @matter.description %>
		</p>
		
		<div class="little_footer">
		<p><% if current_admin %>
<%= link_to 'Edytuj', edit_matter_path(@matter) %>
<% end %></p>
		<p> <span class="name">~<%= @matter.name %></span></p>
		<div class="clear"></div>
	</div>
</div>
<div class="comments">

  <% @matter.comments.each do |comment| %>
	<div class="single_comment">
		<div class="matter_navigate_block">
			
			<%= image_tag "ikona3.png", :class=>"matter_icon" %></br>
				<span class="matter_icon_name">~<%= comment.name %></span></br>
				<span class="matter_comment_date"><%= comment.created_at.strftime('%d/%m/%Y o %H:%M') %></span></br>
				<% if current_admin != nil %>
			<%= link_to 'USUŃ KOMENTARZ', comment, confirm: 'Jesteś pewien, że chcesz usunąć tę wypowiedź?', method: :delete %>
		<% end %>
		</div>
		<div class="comment_content">
			<p><%= comment.content %></p>
		</div>
	<div class="clear"></div>
</div>
  <% end %>


<p id="notice"><%= notice %></p>


</div>
</div>
<span class="return_link"><%= link_to 'powrót do wątków', matters_path %></span>
<div class="comment_form_block">
	<div class="comment_form">
			<h1>Dołącz do dyskusji:</h1>
	<%= form_for Comment.new, method: "post" do |comment| %>
	    <div class="comment_field_left">
				<%= comment.hidden_field :matter_id, value: @matter.id %>
 	 			<div class="field">
    		<%= comment.label 'imię:' %><br />
    		<%= comment.text_field :name %>
  			</div>
	  		<div class="field">
    		<%= comment.label 'email:' %><br />
    		<%= comment.text_field :email %>
  			</div>
			<%= image_tag 'grupa.png', :id=>"comment_icon" %>
			</div>
			<div class="comment_field_right">
				<div class="field">
    		<%= comment.label 'treść:' %><br />
    		<%= comment.text_area :content %>
  			</div>
				<div class="actions">
    		<%= comment.submit "skomentuj" %>
	  		</div>
			</div>
	<% end %>
		<div class="clear"></div>
	</div>
</div>


<span class="return_link"><%= link_to 'powrót do wątków', matters_path %></span>
