<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @matter.title %>
</p>

<p>
  <b>Description:</b>
  <%= @matter.description %>
</p>

<p>
  <b>Article:</b>
  <%= @matter.article_id %>
</p>

<p>
  <b>Name:</b>
  <%= @matter.name %>
</p>

<h1>Discussion:</h1>
  <% @matter.comments.each do |comment| %>
	<p>Name</p>
	<p><%= comment.name %></p>
	<p><%= comment.content %></p>
	<p><%= comment.created_at %></p>
	<p><% if current_admin != nil %>
			<%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %>
		<% end %>
	
  <% end %></p>
</p>
<p><%= form_for Comment.new, method: "post" do |comment| %>
		<div class="field">
    	<%= comment.hidden_field :matter_id, value: @matter.id %>
  	</div>
		<p> <div class="field">
    <%= comment.label :name %><br />
    <%= comment.text_field :name %>
  </div>
  <div class="field">
    <%= comment.label :content %><br />
    <%= comment.text_area :content %>
  </div>
  <div class="field">
    <%= comment.label :email %><br />
    <%= comment.text_field :email %>
  </div>
  </div></p>
		<div class="actions">
    	<%= comment.submit "Skomentuj" %>
	  </div>
<% end %>




<%= link_to 'Edit', edit_matter_path(@matter) %> |
<%= link_to 'Back', matters_path %>
