<div id="menu_box">
	<div id="main_menu">

<%= link_to 'STRONA GŁÓWNA', root_path %><span class="belka">//</span>
<%= link_to 'ANONIMOWOŚĆ', anonimowosc_path %><span class="belka">//</span>
<%= link_to 'IDENTYFIKACJA', tropienie_path %><span class="belka">//</span>
<%= link_to 'UKRYWANIE', sposoby_path %><span class="belka">//</span>
<%= link_to 'PROBLEMY', problemy_path %><span class="belka">//</span>
<%= link_to 'STATYSTYKI', statystyki_path %><span class="belka">//</span>
<%= link_to 'DYSKUSJE', matters_path %>

	</div>
</div>
