<!DOCTYPE html>
<html>
<head>
  <title>Anonimowość w sieci</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.8.19/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_admin %>	
    <div class="moderator_strip">
			<div class="moderator_strip_content">
				Zalogowano jako <%= current_admin.email %>. Przejdź do: <%= link_to "edycja komentarzy", comments_path %> // <%= link_to "edycja wątków", matters_path %> // <%= link_to("wyloguj", destroy_admin_session_path, :method => :delete) %> 
			</div>
		</div>
		<% end %>
<a name="top"></a>
<div id="top">
	<div id="logo">
		<%= link_to (image_tag ("logo.png")), root_path %>
		<div class="clear"></div>
	</div>
</div>
<div class="wrapper">

<%= yield %>

<div class="push"></div>
</div>
<div class="footer">
	<%= render :template => './_footer.html.erb' %>
</div>

</body>
</html>
