<!DOCTYPE html>
<html>
<head>
  <title>Anonimowość w sieci</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.8.19/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a name="top"></a>
<div id="top">
	<div id="logo">
		<img id="logo_img" src="../images/logo.png" alt="logo">
		<div class="clear"></div>
	</div>
</div>
<div class="wrapper">

<%= yield %>

<div class="push"></div>
</div>
<div class="footer">
	<%= render :template => './_footer.html.erb' %>
</div>

</body>
</html>
